# Ignorer le dossier des dépendances de Node.js
# Celles-ci sont téléchargées via npm install
node_modules/

# Fichiers de configuration sensibles
.env

# Dossiers spécifiques du frontend
client/dist/

# Dossiers spécifiques du backend
server/node_modules/

# Uploads
uploads/
*.pdf
*.jpg
*.jpeg
*.png
*.doc
*.docx